<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9aa71">  <td>23/12/10 14:35:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_delete.executor()[pri:0, instance:API_package.testclass_delete@70f02c32]">executor</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="978fe6">  <td>23/12/10 14:35:14</td>   <td>-1876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_patch.executor()[pri:0, instance:API_package.testclass_patch@1fa1cab1]">executor</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="9888c1">  <td>23/12/10 14:35:17</td>   <td>897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_put.executor()[pri:0, instance:API_package.testclass_put@62010f5c]">executor</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="8caac3">  <td>23/12/10 14:35:01</td>   <td>-15229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_post.executor()[pri:0, instance:API_package.testclass_post@65b104b9]">executor</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="74986d">  <td>23/12/10 14:35:13</td>   <td>-3375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_get.executor()[pri:0, instance:API_package.testclass_get@b4711e2]">executor</td> 
  <td>main@697960108</td>   <td></td> </tr>
</table>
